/*============================================================== 
 You can write your style here and overwrite the custom style
 ============================================================== */

.wrap-feature-17-box.card-group .card {
    margin-bottom: 0px;
}
  
.wrap-feature-18 {
    margin-top: 60px;
}
  
.wrap-feature-18 [class*=col-lg-6] .card {
    overflow: hidden;
}
  
.wrap-feature-18 .icon-position {
    position: relative;
    background-size: cover;
    background-position: center center;
    min-height: 200px;
}
  
.wrap-feature-18 .icon-position .icon-round {
    position: absolute;
    right: -38px;
    top: 20px;
}

.wrap-feature-28 .side-content {
    max-width: 580px;
}

.parallax {
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

#banner1 {
    background: right -3em center no-repeat #e9f3f8;
}

#banner1 h2 {
    font-size: 48px;
    line-height: 1;
    letter-spacing: -1px;
}

#banner1 input {
    line-height: 72px;
    padding: 0;
    margin: 0;
    border: none;
    display: inline-block;
    vertical-align: top;
}

#banner1 input[type="text"] {
    color: white;
    border-radius: 36px 0 0 36px;
    text-indent: 35px;
    padding-right: 15px;
    width: 61%;
    font-weight: 300;
    box-shadow: -5px 0 30px 0 rgba(0, 0, 0, 0.05);
    text-overflow: ellipsis;
}

#banner1 input[type="submit"] {
    border-radius: 0 36px 36px 0;
    width: auto;
    padding: 0 30px;
    cursor: pointer;
    margin-left: -4px;
    box-shadow: 5px 0 30px 0 rgba(0, 0, 0, 0.05);
    transition: all 0.5s ease-in-out;
}

#banner1 input[type="submit"]:hover {
    opacity: 0.7;
}

@media (min-width: 2301px) and (max-width: 2700px) {
    #banner1 {
        background-position: 70% center;
    }
}

@media (min-width: 1900px) and (max-width: 2300px) {
    #banner1 {
        background-position: 80% center;
    }
}

@media (min-width: 1500px) and (max-width: 1680px) {
    #banner1 {
        background-position: right center;
    }
}

@media (max-width: 1100px) {
    #banner1 {
        background-position: right -14em center;
    }

    #banner1 h2 {
        font-size: 40px;
    }

    #banner1 input[type="text"] {
        width: 59%;
    }

    #banner1 input[type="submit"] {
        padding: 0 20px;
    }
}

@media (max-width: 767px) {
    .banner {
        padding: 30px 0;
    }

    #banner1 {
        background-image: none;
    }

    #banner1 input {
        font-size: 14px;
        line-height: 50px;
    }

    #banner1 input[type="text"] {
        border-radius: 25px 0 0 25px;
        text-indent: 20px;
    }

    #banner1 input[type="submit"] {
        border-radius: 0 25px 25px 0;
        padding: 0 15px;
    }

    #banner1 img {
        margin-top: 25px;
    }
}

@media (max-width: 320px) {
    #banner1 input[type="submit"] {
        padding: 0 10px;
    }
}

#mainNav .navbar-collapse .navbar-sidenav {
    margin-top: 0 !important;
}

#mainNav.fixed-top .navbar-sidenav {
    height: 100vh !important;
}

.content-wrapper {
    height: 100vh !important;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
    background: #263238 !important;
}

@media (min-width: 992px) {
    
    .content-wrapper {
     margin-left: 310px;
    }
}